*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.nav{
    border: 2px solid;
    height: 50px;
    
}
.sub-nav{
    
    height: inherit;
    width: 68%;
    margin: auto;

}
.sub-nav-list{
    list-style: none;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}